* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
   
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    height: 600px;
    border:none;

}
.logo-and-nav {
    display: flex;
    justify-content: space-between;

}

.logo {
    margin-left: 100px;
    /* margin-top: 35px; */
    font-size: 24px;
    color: #F9FAF8;

    
}

.nav {
    margin-right: 100px;
    margin-top:40px;
}

.link {
    margin: 15px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}



.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main-info {
    margin-left: 100px;
    width: 450px;
}

.secondary-hero {
    font-size: 18px; 
    color: #E5E7EB;
    margin-top: -15px;

}   

.first-button {
    width: 120px;
    height: 35px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 10px;
    font-weight: 900;
}